{{model CompiledHandlebars.Benchmark.ViewModels.ComplexModel~}}
<h1>{{Header}}</h1>
{{#if Items}}
  <ul>
    {{#each Items}}
      {{#if Current}}
        <li><strong>{{Name}}</strong></li>
      {{^}}
        <li><a href="{{Url}}">{{Name}}</a></li>
      {{/if}}
    {{/each}}
  </ul>
{{^}}
  <p>The list is empty.</p>
{{/if}}